[mysqld_safe]
socket = /var/run/mysqld/mysqld.sock
nice   = 0

[mysqld]
user                           = mysql
pid_file                       = /var/run/mysqld/mysqld.pid
socket                         = /var/run/mysqld/mysqld.sock
port                           = 3306
basedir                        = /usr
datadir                        = /var/lib/mysql
plugin_dir                     = /usr/lib/mysql/plugin
tmpdir                         = /tmp
lc_messages_dir                = /usr/share/mysql
bind_address                   = 0.0.0.0
general_log                    = ON

key_buffer_size                = 4M
max_allowed_packet             = 4M
thread_stack                   = 128K
thread_cache_size              = 4M
myisam_recover_options         = BACKUP
max_connections                = 30

query_cache_limit              = 1M
query_cache_size               = 16M

log_error                      = /var/log/mysql/error.log
log_output                     = TABLE

# Replication
enforce_gtid_consistency       = true
expire_logs_days               = 1
gtid_mode                      = ON
log_bin                        = /var/log/mysql/mysql_bin.log
log_slave_updates              = ON
master_info_repository         = TABLE
max_binlog_size                = 10M
read_only                      = 0
relay_log_info_repository      = TABLE
relay_log_recovery             = ON
report_host                    = #REPORT_HOST
server_id                      = #SERVER_ID
replicate-same-server-id       = 0

innodb_flush_log_at_trx_commit = 1
sync_binlog                    = 1

skip_external_locking
skip_name_resolve
